<div class="container  align-items-center mt-5 p-5 caja">

    <div class="row ">

        <div class="col">
            <mat-card-header>
                <mat-card-title>
                    <h3 class="title">Register</h3>
                </mat-card-title>
                <mat-card-subtitle class="sub">
                    Crea tu cuenta
                </mat-card-subtitle>
            </mat-card-header>
        </div>

    </div>
    <!-- Contenido de tarjeta -->
    <!-- <mat-card-content> -->
    <div class="row container-fluid d-flex justify-content-center mt-4">
        <form [formGroup]="registerForm" (submit)="submitRegister()">
            <!-- Nombre -->
            <mat-form-field class="d-flex">
                <mat-label>Nombre</mat-label>
                <input class="d-flex" name="firstName" matInput placeholder="Nombre" formControlName="firstName">
                <mat-error *ngIf="firstName?.errors?.['required'] && firstName?.touched">
                    El campo nombre es obligatorio
                </mat-error>

            </mat-form-field>

            <!-- Email -->
            <mat-form-field class="d-flex">
                <mat-label>Email</mat-label>
                <input name="email" matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="email?.errors?.['required'] && email?.touched">
                    El campo email es obligatorio
                </mat-error>
                <mat-error *ngIf="email?.errors?.['email'] && email?.touched">
                    El formato email no es correcto
                </mat-error>
            </mat-form-field>

            <!-- Password -->
            <mat-form-field class="d-flex">
                <mat-label>password</mat-label>
                <input type="password" matInput placeholder="Password" name="password" formControlName="password">

                <mat-error *ngIf="password?.errors?.['required'] && password?.touched">
                    El campo password es obligatorio
                </mat-error>
                <mat-error *ngIf="password?.errors?.['minlength']">
                    El campo password es de minimo 6 caracteres
                </mat-error>
            </mat-form-field>


            <!-- Confirm Password  -->
            <mat-form-field class="d-flex">
                <mat-label>ConfirmPass</mat-label>
                <input type="password" matInput placeholder="ConfirmPassword" name="confirmPassword"
                    formControlName="confirmPassword">

                <mat-error *ngIf="confirmPassword?.errors?.['required'] && confirmPassword?.touched">
                    El campo Confirm Password es obligatorio
                </mat-error>

                <mat-error *ngIf="registerForm.errors?.['passwordsNotMatch']">
                    Las contraseñas no coinciden
                </mat-error>


            </mat-form-field>



            <div class="d-flex justify-content-between">
                <button class="w-25" type="submit" mat-raised-button color="accent"
                    [disabled]="registerForm.invalid">Crear cuenta</button>
                <button class="w-25" type="submit" mat-raised-button color="accent"
                    [routerLink]="['/login']">Login</button>
            </div>

        </form>

    </div>


</div>