<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h1>Bienvenido: {{user?.name}}</h1>
        </div>
        <h1>puntosExp: {{user?.puntosExp}}</h1>
        <p>Fecha de creacion de la cuenta {{user?.createDate}}</p>

        <h3>lista pokemons favoritos</h3>
        <ng-container *ngIf="pokemonsFav;else templateName"></ng-container>
        <ul color="primary">
          <li class="pokeFav mt-3 d-flex justify-content-around align-items-center" *ngFor="let pf of pokemonsFav">
            <img src="{{pf.pic}}" alt=""> {{pf.name}} {{pf.id}}
        
            <button mat-icon-button (click)="toggleFavorite(pf)">
              <mat-icon>star</mat-icon>
            </button>
          </li>
        </ul>
    <ng-template #templateName>
        <p>No tienes pokemons Favoritos</p>
    </ng-template>



</div>