
    
    <!-- <div class="image" style="height: 100vh;width:100vw;" [ngStyle]="{'background': 'url(http://lorempixel.com/output/nature-q-c-640-480-4.jpg) no-repeat 0 0'}"> -->
 <div class="image">     
<div class="container ">
    <div class="row-10  p-5">
        <div class="col-10 ">
            <!-- Pregunatar como se hace -->
            <!-- <app-login-form (loginAction)="loginUser($event)"></app-login-form> -->
            <app-login-form (loginAction)="loginUser($event)"></app-login-form>
        </div>
        
    </div>
    

</div>
</div>  

<!-- </div> -->

